{% load static %} {% load compress %} {% load django_browser_reload %}

<!doctype html>
<html lang="pt-br">
    {% include "partial/_head.html" %}

    <body>
        <!-- Navigation -->
        {% include 'partial/_nav.html' %} {% include 'partial/_messages.html' %}
        <div class="container mx-auto min-h-screen max-w-full">
            <!-- Page Content -->
            {% block content %}{% endblock content %}
            {% include 'partial/_footer.html' %}
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

        {% django_browser_reload_script %}
    </body>
</html>
