{% load static %} {% load compress %} {% load django_browser_reload %}

<!doctype html>
<html lang="pt-br">
    {% include "partial/_head.html" %}

    <body>
        <!-- Navigation -->
        {% include 'partial/_nav.html' %} {% include 'partial/_messages.html' %}

        <!-- Page Content -->
        {% block content %}{% endblock content %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

        {% django_browser_reload_script %}
    </body>
</html>
