{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br />
    <br />
    <br />

    <h1 class="mx-auto max-w-4xl text-3xl font-semibold">Produtos:</h1>
    <br />
    <div
        class="mx-auto flex min-h-screen max-w-4xl flex-row flex-wrap justify-center gap-4"
    >
        {% for p in products %}
            <div class="h-auto min-w-36 max-w-96 flex-1">
                <a href="{% url 'product_detail' p.id p.slug %}">
                    <img
                        class="mx-auto block rounded-xl"
                        {% if p.picture_set.all %}
                            src="{{ p.picture_set.all.0.picture.url }}"
                        {% else %}
                            src="{% static 'img/placeholder.png' %}"
                        {% endif %}
                        alt="Imagem do Produto"
                    />
                </a>

                Nome: {{ p.name }}
                <br />
                Preço: R${{ p.price }}
            </div>
        {% endfor %}
    </div>
    {% include 'partial/_pagination.html' %}
{% endblock content %}
