{% extends 'base.html' %} {% block content %}

<div class="center">
    <div class="grid grid-flow-col">
        {% for p in products %}

        <h2>Foto do Produto</h2>
        {% if p.picture_set.all %}
        <img
            class="max-h-20 max-w-20"
            src="{{ p.picture_set.all.0.picture.url }}"
            alt="Imagem do Produto"
        />
        {% else %}
        <p>Nenhuma imagem disponível</p>
        {% endif %}
        <br />
        Nome: <a href="{% url 'product_detail' p.id %}">{{ p.name }}</a>
        Preço: {{ p.price }} Descrição: {{ p.short_description }}
        <br />
        {% endfor %}
    </div>
</div>

{% endblock content %}
