<nav class="nav">
    <a href="#">Ecommerce</a>
    <ul>
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#"> Mais Vendidos </a>
        </li>
        <li>
            Categorias
            <ul>
                {% for c in categories %}
                <li><a href="#">{{ c.name }}</a></li>
                {% comment %}
                <li><a href="{% url 'category' c.id %}"> {{ c.name }} </a></li>
                {% endcomment %} {% endfor %}
            </ul>
        </li>
    </ul>
    <form>
        <input type="search" placeholder="Search" aria-label="Search" />
        <button type="submit">Search</button>
    </form>
</nav>
