<br />
<br />
<div class="flex justify-center">
    {% if products.has_previous %}
        <a
            href="?page=1"
            class="me-3 flex h-8 items-center justify-center rounded-lg border border-gray-300 bg-white px-3 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
        >
            <svg
                class="me-2 h-3.5 w-3.5 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 5H1m0 0 4 4M1 5l4-4"
                />
            </svg>
            first
        </a>

        <a
            href="?page={{ page_obj.previous_page_number }} "
            class="me-3 flex h-8 items-center justify-center rounded-lg border border-gray-300 bg-white px-3 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
        >
            previous
        </a>
    {% endif %}

    <span
        class="me-3 flex h-8 items-center justify-center bg-white px-3 text-sm font-medium text-gray-500"
    >
        Page {{ products.number }} of {{ products.paginator.num_pages }}
    </span>

    {% if products.has_next %}
        <a
            href="?page={{ products.next_page_number }}"
            class="me-3 flex h-8 items-center justify-center rounded-lg border border-gray-300 bg-white px-3 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
        >
            next
        </a>
        <a
            href="?page={{ products.paginator.num_pages }}"
            class="me-3 flex h-8 items-center justify-center rounded-lg border border-gray-300 bg-white px-3 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
        >
            last
            <svg
                class="ms-2 h-3.5 w-3.5 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                />
            </svg>
        </a>
    {% endif %}
</div>
